<html>
    <head>
        <meta charset="utf-8"> 
        <title>addairplane</title> 
    </head>
    
    <body>
        <h2>Add an Airplane for your airline</h2>
        {% if error %}
        <p class="error"><strong>Error:</strong> {{error}}</p>
        {% endif %}
        </br><a href="/staffHome">Back to Home</a>
        <div>
            
            <form action='/staffHome/addAirplane/confirmation' method='POST'>
                <input type="number" name = "id" placeholder="Airplane ID" required/> </br>
                <input type="number" name = "seats" placeholder="Number of Seats" required/> </br>
                <input type="submit" value = Submit />
            </form>
            
        </div>
    </body>


</html>