<html>
    <head>
        <meta charset="utf-8"> 
        <title>publicsearch</title> 
    </head>

    <body>

        <h1>PUBLIC SEARCH</h1>
        {% if error %}
            <p class="error"><strong>Error:</strong> {{error}}</p>
        {% endif %}
        </br><a href="/">Back</a>
        <div> 
            <form action="/searchresult/flight" method="POST">
                <h2>Please input your departure city/airport, arrival city/airport, data to travel</h2></br>
                <b>Departure City/Airport(either):</b></br>
                <input type="text" name = "departurecity" placeholder="enter departure city/airport" required/></br>
                <b>Arrival City/Airport(either):</b></br>
                <input type="text" name = "arrivalcity" placeholder="enter arrival city/airport" required/></br>
                <b>Departure Date:</b></br>
                <input type="date" name="departuredate" step=1 required/> </br>
                <input type="submit" value = Search />
            </form>
    
            <form action="/searchresult/status" method="POST">
                <h2>Please input your flight number and arrival/departure date to see the flight status</h2></br>
                <b>Flight number:</b></br>
                <input type="text" name = "flightnumberbox" placeholder="enter the flight number" required/> </br>
                <b>Departure/Arrival date:</b></br>
                <input type="date" name="doradate" step=1 required/> </br>
                <input type="submit" value = Search />
            </form>
        </div>
        
    </body>
</html>